@{
    ViewBag.Title = "About";
}
<div class="headline">
    <h1>@ViewBag.Title</h1>
    <p> This Web-portfolio are made in asp .net for a school project.<br/>
    For more stuff look at my real portfolio at <a href="http://jameart">JameArt</a></p>
    <h4>Enjoy!</h4>
    </br>
</div>