@{
    ViewBag.Title = "Contact";
}
<div class="headline">
    <h1>@ViewBag.Title</h1>
    <h4> Send me a message</h4>
    <address>
        <strong>Jennie Erlandsson:</strong>   <a href="mailto:info@jameart.se">info@jameart.se</a><br />
    </address>
</div>